[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
[Service]
User=daemon
Type=notify
WorkingDirectory=/var/lib/etcd/
EnvironmentFile=-/usr/local/etcd/conf/etcd.conf
ExecStart=/usr/local/etcd/bin/etcd \
    --listen-client-urls ${ETCD_LISTEN_CLIENT_URLS},http://127.0.0.1:2379 \
    --advertise-client-urls ${ETCD_ADVERTISE_CLIENT_URLS},http://127.0.0.1:2379
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
